
<div id="play"></div>
<div id="volume"></div>
<script>
	
	var player = new Tone.Sampler({
			"C1" : "/samples/rulumu/mp3/east.mp3",
		}).toMaster();

	var reverb = new Tone.Reverb(6.3)
			.receive("reverb")
			.toMaster();

	player.send("reverb", 10);
	player.volume = 0.2;

	//pass in an array of events
	var part = new Tone.Part(function(time, event){
		//the events will be given to the callback with the time they occur
		player.triggerAttackRelease(event.note, event.dur, time)
	}, [{ time : 0, note : 'C1', dur : '4n'},
		{ time : 3.4 * Tone.Time('4n'), note : 'D1', dur : '8n'}
		])
	part.loop = true;
	part.loopEnd = '1m';


  var dial = new Nexus.Dial('#volume', 
  	{'min': -30,'max': 6, 'value': 0}
  	);
  var button = new Nexus.Button('#play') 

  button.on('change',function(v) {
            if(v.state === true){
       
              Tone.Transport.start();
              part.start();
            }
            console.log(v);
          })
	dial.on('change',function(v) {
         player.volume.value = v
        })



</script>



				