<%= @raudio %>
<%= @interaction %>

<div style="height: 30000px;">
	<div style="height:2000px; background: white">
	</div>
	<div style="height:6000px; background: blue">
		<h1>start</h1>
	</div>
	<div><h1>stop</h1>
</div>