<h1>Sounds#sine</h1>
<p>Find me in app/views/sounds/sine.html.erb</p>
<%= @raudio %>
<%= @nexus %>

<canvas nx="button" id="<%= @start_button.identifier %>"></canvas>
<canvas nx="button" id="<%= @stop_button.identifier %>"></canvas>
