<h1>Sounds#sine</h1>
<p>Find me in app/views/sounds/sine.html.erb</p>
<p>Right now two synths playing a loop. Click the left button to start the loop. The right button to stop it.</p>
<%= @raudio %>
<%= @nexus %>

<canvas nx="button" id="<%= @start_button.identifier %>"></canvas>
<canvas nx="button" id="<%= @stop_button.identifier %>"></canvas>
