<%= @raudio %>
<%= @nexus %>
<%= @interaction %>

<div style="height: 3000px; width: 3000px">
	<div style="height: 150px; background:white">
		<h1>Scroll right and down for effects</h1>
		<canvas nx="button" id="<%= @start_scene_1.identifier %>"></canvas>
	</div>
	<div style="height: 2800px; background:blue"></div>
</div>
